@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-primary: #3740ea;
  --bs-secondary: #d43d3f;
  --bs-success: #47a447;
  --bs-info: #5bc0de;
  --bs-warning: #ed9c28;
  --bs-danger: #d2322d;
  --bs-light: #f8f9fa;
  --bs-dark: #1d2127;
}

body, button, input{
  font-family: "Poppins", serif;
}

.testimonial-slider {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.testimonial-slider::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

.product-slider, .image-slider {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.product-slider::-webkit-scrollbar{
  display: none; /* Chrome, Safari, Edge */
}

.image-slider::-webkit-scrollbar{
  display: none;
}
